@font-face{
    font-family: Pokemon;
    src: url("../font/PokemonSolid.ttf");
}

@font-face{
    font-family: Bebas;
    src: url("../font/BebasRegular.ttf");
}

.Webname{
    font-family: Pokemon;
    font-size: 2rem;
    align-items: center;
    text-align: center;
    padding-bottom: 1.5rem;
}

.Poke20th{
    font-size: 8rem;
}

.Poke20th, h1, h2, h3, a, button, .card-header{
    font-family: Bebas;
}

h5, h2{
    color: white;
}

.black{
    color: black;
}

.h5Modal{
    color: black;
}

button{
    margin: 1em;
}

.NoMargin{
    margin: 0;
}

.card-header{
    font-size: 2rem;
}

.Alert{
    font-size: 0.9em;
}

a, a:hover, a:visited, a:link{
    color: white;
}

.nav-link{
    font-size: 1.6rem;
}

.White{
    background-color: #FDFFFF;
}

@media screen and (min-width: 999px) {
    .pTop{
        margin-top: 6rem;
    }

    .pMid{
        margin-top: 3rem;
    }

    .pBot{
        margin-top: 10rem;
    }
    .vl {
        border-left: 1px solid white;
        height: 3.5rem;
    }
}
@media only screen and (min-width: 1200px){
    body{
        background-color: #FFD333;
    }
}

@media only screen and (max-width: 480px){
    html,body{
        height: 100%;
        width: 100%;
    }
    .bg {
        background-size: cover;
        background-color: #01375d;
        background-repeat: no-repeat;
        background-position: center;
    }
    .bg::after {
        content: "";
        background-image: url("../medias/bg.png");
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 5rem;
        right: 0;
        position: absolute;
        z-index: -1;
    }
    .news{
        margin-top: 1rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
    body{
        background-color: #33FFD5;
    }
}



.parallax {
    background-image: url("../medias/Pokemon20thAnniv.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ImgNews{
    max-width: 100%;
    max-height: 100%;
}

html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background-color: #5a6268;
}

hr{
    height: 1px;
    color: white;
    background-color: white;
    width: 90%;
}

.my-4{
    width: 100%;
}


.Me{
    margin: auto;
    max-width: 100%;
    padding-bottom: 1rem;
}

.Fav{
    padding-top: 2rem;
}

.FavImg{
    max-width: 100%;
    margin: auto;
    padding: 1rem;
}

.wikilink{
    margin: 3rem;
}

.movie{
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
    margin: auto;
    max-height: 25rem;
}

.game{
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
    margin: auto;
    padding-top: 1rem;
}

iframe{
    width: 100%;
}

