@font-face{
    font-family: Pokemon;
    src: url("../font/PokemonSolid.ttf");
}

@font-face{
    font-family: Bebas;
    src: url("../font/BebasRegular.ttf");
}

.Webname{
    font-family: Pokemon;
    font-size: 2rem;
    align-items: center;
    text-align: center;
    padding-bottom: 1.5rem;
}

.Poke20th{
    font-size: 8rem;
}

.Poke20th, h1, h2, h3, a, button{
    font-family: Bebas;
}

h5{
    color: white;
}

button{
    margin: 1em;
}


.Alert{
    font-size: 0.9em;
}

a, a:hover, a:visited, a:link{
    color: white;
}

.nav-link{
    font-size: 1.6rem;
}

.White{
    background-color: #FDFFFF;
}

@media screen and (min-width: 999px) {
    .pTop{
        margin-top: 6rem;
    }

    .pMid{
        margin-top: 3rem;
    }

    .pBot{
        margin-top: 10rem;
    }
}

@media only screen and (max-width: 480px){
    html,body{
        height: 100%;
        width: 100%;
    }
    .bg {
        background-size: cover;
        background-color: #01375d;
        background-repeat: no-repeat;
        background-position: center;
    }
    .bg::after {
        content: "";
        background-image: url("../medias/bg.png");
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 5rem;
        right: 0;
        position: absolute;
        z-index: -1;
    }
}


.parallax {
    /* L’image du Parallax */
    background-image: url("../medias/Pokemon20thAnniv.jpg");
    /* L’hauteur du Parallax */
    height: 100%;
    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ImgNews{
    max-width: 100%;
    max-height: 100%;
}

html,body{
    height: 100%;
    width: 100%;
}

footer{
    background-color: #5a6268;
}

hr{
    height: 1px;
    color: white;
    background-color: white;
    width: 50rem;
}